.modal .modal-dialog  {
  top: '35%';
  left: '50%';
  right: 'auto';
  
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    cursor: pointer;
}
.zoomed {
  transform: scale(1.5); 
  transition: transform 0.3s ease; 
  cursor: pointer; 
}
.word{
  color: white;
  margin-top: 7px;
  margin-bottom: -2x;

}
#res-title{
  font-size: 70px;
}
.p{
  font-size: large;
  font-weight: 400;
  
}
.word-selection{
  color: lightgrey;
  font-family: inherit;
  font-size: 16px;
  
}
.modal-confirm {
  color: #636363;
  width: 325px;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
  margin-bottom: -10px;
}
.modal-title{
  font-size: 25px;
}
.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -89px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
 
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}
.newResbtn {
  margin-bottom: 100px;
}

.datepicker{
  margin-right: 200px;
}