
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.restaurant-image {
  height: 240px; 
  object-fit: "cover"
}

.card-holder {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.slogan-style {

  color : white; 
  font-family: 'Times New Roman';
  font-size: large;
  
}

#H {
  background-color: rgb(86, 86, 86);
  background-blend-mode: multiply;
}

@keyframes fade-in-home{
  0% {opacity: 1;}
  100%{opacity: 0;}
}

#fade-in-home
{
  animation: fade-in 0.5s alternate-reverse;
}

