:root{
  --main-color: #0464fe;
  --sec-color:#35cd8c;
  --color-dark:#1d2231;
  --text-frey:#8390a2;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.topleft {
  height:60px;
  object-fit: contain;
}

.nav-inner,
.nav-menu ul,
.nav-menu2{
  display: flex;
  align-items: center;

}

.nav-menu li :last-child{
  margin-right: 0;

}
/* .login{
 
} */
.nav-menu  a{
  color: #fff;
  margin-right: 3rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: inherit;
  font-weight:300 ;
  font-size: x-large;

}
.nav-menu a:hover{
  color:var(--main-color);
  border-bottom: 2px solid var(--main-color);

}

.text-center {
  font-weight: 500;
}

